<settings>
	<data>
		<username>marketstreetproject@gmail.com</username>
		<password>artery321</password>
		<calendarName>projection</calendarName>
		<remoteSettingsDate>11/14/2010</remoteSettingsDate>
		<prefix><![CDATA[>  ]]></prefix>
		<suffix><![CDATA[ :::]]></suffix>
		<startDate>today</startDate>
	</data>
	<poem>
		<!--
			You can put 'today' in here and we'll grab the poem for today
			or you can put in an explicit date in MM/DD/YYYY format
			i.e. '08/20/1964' and we'll try to find a poem for that date
		-->
		
		<dateCheckInterval>5000</dateCheckInterval>
	</poem>
	<boxes>
		<maxWidth>650</maxWidth>
		<maxHeight>180</maxHeight>
	</boxes>
	<videos>
		<video id="sunday" xpos="0" ypos="0">
			<url>assets/neon2_small.flv</url>
		</video>
		<video id="monday" xpos="-200" ypos="0">
			<url>assets/legs.flv</url>
		</video>
		<video id="tuesday" xpos="0" ypos="0">
			<url>assets/neon2_small.flv</url>
		</video>
		<video id="wednesday" xpos="0" ypos="0">
			<url>assets/legs.flv</url>
		</video>
		<video id="thursday" xpos="0" ypos="0">
			<url>assets/neon2_small.flv</url>
		</video>
		<video id="friday" xpos="0" ypos="0">
			<url>assets/legs.flv</url>
		</video>
		<video id="saturday" xpos="0" ypos="0">
			<url>assets/neon2_small.flv</url>
		</video>
	</videos>
	<timing>
		<lineIn>1</lineIn>
		<lineOut>1</lineOut>
		<speed>1</speed>
		<pauseAfterLastLine>10</pauseAfterLastLine>
	</timing>
	<fallback>
		<!-- 
			if no poem can be found we'll try to find one on the remote date 
			listed below. If we still can't find one, we'll use the text 
			of the 'local' fallback poem...
		-->
		<remote>
			<date>08/20/2010</date>
		</remote>
		<local>
			<poem>
There was a young local named Mallory,

who drew but a very small salary.

When he went to the show,

his wallet made him go

to a seat in the uppermost gallery.
			</poem>
			<author>
anonymous
			</author>
		</local>
	</fallback>
</settings>
